*{
  margin-left: auto;
  margin-right: auto;
}

body {
 
  background-color: #cccccc;
 }
table {
     table-layout: fixed; 
    width: 400px;
    height: 400px;
    text-align: center;
    background-color:#628C23
  
  }


  
td {
    border: 1px solid black;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    text-indent: 2;
    height: 20px;
  }

  td:hover{
    background-color: khaki;
  }

.isMine

{
    background-color: brown; */

  }


  .invisible{
    text-indent: -9999px
  
  }

  .reset{
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
margin-left: auto;
margin-right: auto;
border-style:none;
border-radius: 10%;


}
.middle{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  border-style:none


}
.first{
  border-radius: 50%;
  border-style:none
}

.last{
  border-radius: 50%;
  border-style:none


}
.btn{
  border-style:none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  font-size: xx-large;
padding: 50px;  
}

.timer{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.lives{
  text-align: center;
}
.modal{
  text-align: center;
}
.setemoji{
  text-align: center;
  font-size: xx-large;
}
.best-time{
  text-align: center;
}
.record-time{
  display: inline;
  position: absolute;
  left: 75%;
  width: 200px;
  height: 120px;
  
 
  text-align: center;
  
}

ul{
  padding-left: 10%;
  list-style-type:none;
  text-align: center;
}
.hints{
  display: inline;
  position: absolute;
  right: 70%;
  bottom: 70%;
  width: 200px;
  height: 120px;
}


.page-header{
  text-align: center;
}
.footer{
  text-align: center;
}
